<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.todoapp544629" version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/3.7.0">

  <name>Azlaan TodoApp</name>

  <description>
        Todo App build using Ionic Framework
    </description>

  <author email="sohel.shaikhh.s@gmail.com" href="http://ionicframework.com/">
      Sohel Shaikh
    </author>

  <content src="index.html"/>

  <access origin="*"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
  <gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.8.1" />

</widget>